[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
psycopg2 = "*"
django-cors-headers = "*"
gunicorn = "*"
anthropic = "*"
requests = "*"
uwsgi = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
