{% extends "base.html" %}
{% load static %}

{% block title %}Creating Good Alt Text{% endblock %}

{% block content %}
<div class="container alt-topic">
<div class="content">
<h1>
Creating Good Alt Text
</h1>

<p>Alternative text provides a description of non-text content in web pages and online documents. This text alternative can be applied to a number of non-text content types, but this entry will focus on images &lt;img&gt; in HTML. The primary audience of this alternative text description are people who cannot see the screen and instead have the content read aloud to them by text to speech synthesizers called screen readers or who use Braille display devices. There are other beneficiaries of this text alternative as well. Without alternative text, the content of an image will not be available to screen reader users or when the image is unavailable.</p>

<dl>
<dt>Consider context.</dt>
<dd>Especially in narrative works, an image is used in a story's narrative. Creating alt text in narrative works requires an understanding of how the image relates to the work. Think about what aspects of an image would be important to a sighted reader and try to convey them concisely so they fit into the textual narrative. And don't repeat what the text already says.
</dd>
<dt>Use the language, style, names and words of the text.</dt>
<dd>If the text calls them galoshes, don't describe them as boots. "Pooh carries a pot of hunny", not "a toy bear clutches a jar of honey".
</dd>
<dt>Description is better than interpretation.</dt>
<dd>Blind people are as smart as you are. If a picture shows a smiling boy in ragged clothes, don't describe him as poor but happy.
</dd>
<dt>Images are there for a reason.</dt>
<dd>Images typically are there to comunicate something. Alt text should try to communicate the same thing. For example, an image of a scrap of ancient text is not there to communicate the words on the scrap, it's there to convey an impression of the scrap's fragmentary nature. Alt text should focus on that. The caption in the book might tell you what museum it's in, without conveying visual information.
</dd>
<dt>Often, null text is best.</dt>
<dd>Books often use images as decorations, page breaks, spacers, and the like. These should not have alt text, as the alt text will just be an annoying interruption. In AltPoet, use the "decorative image" button to indicate that they are better left undescribed. Similarly if an image is part of a figure and the figure label already describes the image, it's usually better not to repeat the description.
</dd>
<dt>Front load the important stuff.</dt>
<dd>Some screen readers naturally pause after 140 characters with spaces and require a user action to read more. Consider that a definition of “front loading” and put the most pertinent information in that 140-character container.
</dd>
<dt>Use punctuation.</dt>
<dd>Screen readers take pauses for things like commas and periods. Use the same grammar and spelling style guides you use for visually presented text.
</dd>
<dt>Spell check.</dt>
<dd>Because it is “invisible” it’s easy to make typos in your alt text writing. AltPoet makkes it easy to reviewed and proofread, the work of others (including AIs!).
</dd>
<dt>Don’t game the system.</dt>
<dd>Since alt text will increase SEO performance, a lot of the training data used for AIs has alt text descriptions with keywords. Alt text is about fairness and inclusion first, last, and always.
</dd>
<dt>Don’t use the terms "graphic" or "image"</dt>
<dd>Screen readers naturally announce the role of the &lt;img&gt; element in HTML and &lt;figure&gt; tag in PDF by stating “Graphic” or “Image”. Instead, just describe the image as though the user already understands fully that it’s an image. This holds true for all image formats except animated GIFs.
</dd>
<dt>Other types of image</dt>
<dd>When describing an animated GIF, start (prepend) the description with the term “Animated GIF” or “Animation”. The screen reader will only announce the role of “image” so this extra description is useful for non-sighted users. Similarly, the terms "map", "drawing", "graph", and "formula" can be useful, provided that there's more in the description!
</dd>
<dt>Don’t over engineer it</dt>
<dd>Some abbreviations will not read “correctly” to your ear when you listen to them with a screen reader. Your first thought may be to engineer it phonetically to read correctly. The term ADA for example can be read aloud like Ada Lovelace instead of the abbreviation for the Americans with Disabilities Act which phonetically is pronounced like Eh Dee Eh. Whereas this approach works well for screen reader users it will not work for Braille display users.
</dd>
</dl>
</div>
</div>
{% endblock %}  