
<div class="container">
    <nav role="navigation">
        <div class="level topnav">

                <a href="/">
                    AltPoet
                </a>


                <a href="{% url 'alttext' %}">
                    Creating Good Alt Text 
                </a>

                <a href="https://www.gutenberg.org">
                    Project Gutenberg
                </a>


                <a href="https://ebookfoundation.org">
                    Free Ebook Foundation
                </a>

            </div>



        </div>

    </div>

</nav>
</div>
    
